@font-face {
  font-family: 'Sans';
    src: local("@"), url('fuentes/sans.ttf') format("truetype");
    #src: url("fuentes/sans.eot");
}

@font-face {
  font-family: 'Purisa';
  src: local("@"), url('fuentes/purisa.ttf') format("truetype");
  #src: url("fuentes/purisa.eot");
}

body {
    background-color: #F3F3F3;
    margin: 0px;
}

.contenedor {
    position: absolute;
    min-width: 650px;
    width: 100%;
}

.header {
    float:left;
    padding: 12px 20px 24px 20px;
    text-align: right;
    font: 18px Sans;
    color: #0066FE;
    min-width: 650px;
    width: 100%;
    height: 20px;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

.title {
    float:left;
    font: 57px Sans;
    min-width: 650px;
    width: 100%;
    height: 50px;
    text-align: center;

}

.video {
    float:left;
    /*background-color: orange;*/
    min-width: 650px;
    text-align: center;
    width: 100%;
    height: 535px;
}

.contador {
    float:left;
    font: Sans;
    text-align: center;
    min-width: 650px;
    width: 100%;
    height: 255px;
    letter-spacing: 3.5px;
}

span.anuncio {
    font: 52px Sans;
    color: #FF3B00;
    line-height: 5px;
}

span.curso {
    font: 32px Sans;
    color: #6C5D53;
    line-height: 15px;

}

span.tiempo {
    font: 32px Sans;
    color: #FFA807;
    line-height: 15px;
}

span.inscripcion {
    font: 15px Sans;
    color: #0193F4;
    line-height: 15px;
}

.video.thesheep {
    background-color: red;
}

